main, body {
    font-size: 16px;
    background-color: darkkhaki;
}

body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2.0rem;
    font-weight: 900;
}

h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

p {
    font-size: 1.0rem;
}