main, body {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

body {

}

header {
    padding: 2.5rem 5.0rem;
    background-color: olivedrab;
}

section {
    padding: 2.5rem 5.0rem;
    min-height: 400px;
}

#codecademy_sect {
    background-color: hsl(0, 0%, 80%);
}

#other_sect {
    background-color: hsl(0, 0%, 70%);
}

h1 {
    font-size: 3.0rem;
    font-weight: 900;
}

h2 {
    font-size: 2.0rem;
    font-weight: 700;
}

p {
    font-size: 1.0rem;
}

footer {
    padding: 2.5rem 5.0rem;
    background-color: olivedrab;
    text-align: center;
}